.container {
  display: flex;
  justify-content: space-around;
}

.player_card {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(228, 215, 199);
}

.player_card img {
  width: 100%;
}
